html body {
	width:90%;
	max-width:960px;
	margin: 0 auto;
	padding-top:0;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	background:url('/images/square.png');
}

.content {
	width:65%;
	float:left;
}

.nav {
	width:30%;
	float:right;
}

.nav a{
	color:#CC3300;
}

.footer{
	clear:both;
	padding-bottom:0.8em;
	font-size:0.9em;
	color:#666;
}

.footer a{
	color:#CC3300;
}

a:hover {
	color:#e6db74;
	text-decoration:underline;
}

a {
	color:#CC3300;
	text-decoration:none;
}

.name {
	float:left;
	clear:both;
}

.date {
	color:#666;
	font-size:80%;
}

.rss{
	float:right;
	width:30px;
	height:23px;
}

.red {
	color:#CC3300;
}

.black {
	color:#000;
}

h1, h2, h3 {
	color:#666;
}

p{
	line-height:1.5em;
}
a img {
	border: none;
}

ul {
	margin-left: 0;
	padding-left: 0;
	list-style:none;
	line-height:1.5em;
}

.archive ul {
	line-height:1em;
}

.highlight {
	padding: 0 0 0 5px;
	font-size:0.85em;
	overflow-x:scroll;
}

.cursive{
	font-family:Courier;
	font-style:italic;
	font-size:90%;
}

hr {
	height:1px;
	background-color:#666;
	color:#666;
}