@font-face {
    font-family: 'PTSansCaptionRegular';
    src: url('fonts/PTC55F-webfont.eot');
    src: url('fonts/PTC55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTC55F-webfont.woff') format('woff'),
         url('fonts/PTC55F-webfont.ttf') format('truetype'),
         url('fonts/PTC55F-webfont.svg#PTSansCaptionRegular') format('svg');
    font-weight: normal;
    font-style: normal;

	}

	body {
		margin: 0 auto;
		font: 60px/68px 'PTSansRegular', Arial, sans-serif;
		font-size: 12px;
		color: #777;
		text-align: center;
		background: #212121;
	}

a {
  color: #708c00;
  text-decoration: none;
  }

a:link, a:visited {
	color: #708c00;
	}

a:hover, a:active {
	color: #8eac1a;
	}

div {
	margin: 30px auto;
	width: 480px;
	text-align: center;
	}

h1{
	letter-spacing:2px;
}

p {
	margin: 0;
	padding: 0 14px;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.6em;
	color: #777;
	text-align: left;
	margin: 0 0 20px 0;
	}

img{
	width:440px;
	border: thin solid #777;
	float:left;
	margin: 0 0 10px 14px;
}

