* { 
	padding: 0; margin: 0; 
}

p { 
	color: #444; 
	font-family: Calibri, sans-serif;
	font-size: 16px;
	line-height: 24px; margin-bottom: 22px; 
	-webkit-font-smoothing: antialiased; 
	text-shadow: 4px 4px 4px #E0EEEE;
}

a { 
	color:#F7971C;
	font-size: 110%;
}

a:hover { 
	color: #DDD;
	text-decoration:none; 
}

#monogram { 
	border-left-width:5px;
	border-left-color:#F7971C;
	border-left-style:solid;
	font-size:200%;
	font-family: Arial, Helvetica, sans-serif;
	color:white;
	float:left;
	text-shadow: 4px 4px 4px #000;
	margin-top: 5%;
	padding-left: 40px;
	}

	#about {
		width: 300px;
		margin-top: 5%;
		float: right;
		padding-right: 8%;
		padding-left:40px;
}

.lastname{ 
	color:#F7971C;
}

#monogram a{
	color:white;
	text-colordecoration:none;
}

.box{ 
	padding:10px; background-color: #FFF; 
	filter:alpha(opacity=70);
	opacity:.8;
	-webkit-box-shadow: 5px 5px 10px #000;
	-moz-box-shadow: 5px 5px 10px #000;
	box-shadow: 5px 5px 10px #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
@media screen and max-width800px,screen and max-device-width480px{
	#monogram {
		text-align:center;
		border-right:5px solid #F7971C;
		margin:40px auto;
}

#about {
	margin:0 auto;
}
}

@media only screen and max-device-width480px{
	#monogram {
		width:480px;
}

#monogram h2{
	font-size:40px;
}

#about {
	width:460px;
}
}
