* { 
	padding: 0; margin: 0; 
}

p { 
	color: #444; 
	font-family: Calibri, sans-serif;
	font-size: 1.2em;
	line-height: 24px; margin-bottom: 22px; 
	-webkit-font-smoothing: antialiased; 
	text-shadow: 4px 4px 4px #E0EEEE;
}

a { 
	color:#F7971C;
	font-size: 110%;
}

a:hover { 
	color: #DDD;
	text-decoration:none; 
}

#about {
	width: 300px;
	margin-top: 5%;
  float: right;
	padding-right: 8%;
	clear: both;
	padding-left:40px;
}

#about h2{
	color:#F7971C;
	font-family: Calibri, sans-serif;
	padding-bottom: 1em;
	text-transform:uppercase;
}

#monogram a{
	margin-left:40px;
}

.box{ 
	padding:10px; background-color: #FFF; 
	filter:alpha(opacity=70);
	opacity:.8;
	-webkit-box-shadow: 5px 5px 10px #000;
	-moz-box-shadow: 5px 5px 10px #000;
	box-shadow: 5px 5px 10px #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
